@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: $main-font;
   background-image: url("./src/images/bg/doodles.png");
}

a {
   color: $dark-color;
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
   color: $dark-color;
}

button {
   outline: none;
   border: none;
}

// Responsywność
html {
   @include sm {
      font-size: 12px;
   }

   @include md {
      font-size: 16px;
   }
}

.container {
   @include sm {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
   }

   @include md {
      width: 660px;
   }

   @include lg {
      width: 950px;
   }

   @include xl {
      width: 1150px;
   }
}
