@import "../../../variables.scss";

section.about {
   width: 100%;
   background-color: $backdrop-color;

   .container {
      display: flex;
      padding: 3rem 0;
      padding-bottom: 5rem;
      align-items: center;
      justify-content: space-between;

      p,
      h2,
      svg {
         color: $light-gray-color;
      }

      @include sm {
         flex-direction: column;
      }

      @include lg {
         flex-direction: row;
      }

      .person {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         width: 1fr;

         @include sm {
            padding: 0rem 3rem;
         }
         @include md {
            padding: 0;
            padding-right: 3rem;
         }

         .img-wrapper {
            width: 15rem;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: $shadow-color 0px 0px 3px;
            margin: 2rem 1rem;

            img {
               height: 100%;
            }
         }

         h2 {
            position: relative;
            padding-bottom: 0.5rem;
            font-size: 2rem;

            &::after {
               content: "";
               width: 6rem;
               height: 4px;
               background-color: $accent-color;
               display: block;
               position: absolute;
               left: 50%;
               bottom: 0;
               transform: translateX(-50%);
            }
         }

         p {
            text-align: justify;
            padding-top: 1rem;
            padding-bottom: 2rem;
         }
      }

      ul {
         width: 2fr;
         list-style-type: none;
         display: flex;
         flex-direction: column;
         align-items: center;

         li {
            display: flex;
            margin: 1rem 0;

            .icon-wrapper {
               width: 5rem;
               height: 5rem;
               display: flex;
               flex-shrink: 0;
               align-items: center;
               justify-content: center;
               background-color: $main-color;
               border-radius: 50%;
               margin-right: 2rem;
               margin-top: 0.4rem;

               svg {
                  font-size: 2.5rem;
                  color: $white-color;
               }
            }

            .content {
               display: flex;
               flex-direction: column;
               flex-grow: 1;

               h2 {
                  margin-bottom: 0.2rem;
               }
            }
         }
      }
   }
}
