@import "../../../variables.scss";

div.text-input {
   display: flex;
   flex-direction: column;
   margin: 0.5rem 0;

   label {
      color: $white-color;
      padding: 0.5rem 0;
      font-weight: bold;
      transition: all 150ms ease-in;
   }

   &:focus-within label {
      color: $accent-color;
   }

   input,
   textarea {
      padding: 0.5rem;
      border: none;
      outline: none;
      font-size: 1rem;
      margin-bottom: 3px;

      &:focus {
         border-bottom: $accent-color solid 3px;
         margin-bottom: 0px;
      }
   }

   textarea {
      resize: vertical;
      min-height: 250px;
   }

   &.error {
      input,
      textarea {
         border-bottom: $error-color solid 3px;
         margin-bottom: 0px;
      }

      label {
         color: $light-error-color;
      }

      p {
         margin: 0.2rem 0;
         color: $light-error-color;
      }
   }
}
