@import "../../../variables.scss";

nav.navbar {
   width: 100%;
   height: $navbar-height;
   box-shadow: $shadow-color 1px 1px 3px;
   background-color: $white-color;

   .container {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
         font-weight: 400;
         color: $dark-color;
         font-family: $headers-font;
         font-size: 2rem;
      }

      .links {
         height: 100%;
         flex-direction: row;

         button {
            padding: 1rem 2rem;
            background-color: transparent;
            transition: all ease-in 200ms;
            height: 100%;
            align-items: center;
            cursor: pointer;

            &:active {
               background-color: $main-color;
               color: $white-color;
            }

            svg {
               font-size: 1.5rem;
               fill: $dark-color;
            }
         }

         div {
            display: flex;
            height: 100%;
            align-items: center;

            a {
               display: flex;
               align-items: center;
               cursor: pointer;
               white-space: nowrap;

               height: 100%;
               padding: 2.5rem;

               &.active,
               &:hover {
                  background-color: $main-color;
                  color: $white-color;
               }

               transition: all ease-in 200ms;
               // min-width: 3.5rem;
            }
         }

         @include sm {
            button {
               display: flex;
            }
            div {
               height: auto;
               display: none;
               flex-direction: column;
               position: absolute;
               top: $navbar-height;
               right: 0;
               background-color: $white-color;

               a {
                  width: 100%;
                  height: 5rem;
                  padding-left: 5rem;
                  padding-right: 5rem;
                  align-items: center;
                  background-color: $white-color;

                  &.current,
                  &:hover {
                     background-color: $main-color;

                     color: $white-color;
                  }
               }

               &.open {
                  display: flex;
                  z-index: 1000;

                  &::before {
                     content: "";
                     position: fixed;
                     top: $navbar-height;
                     left: 0;
                     background-color: $backdrop-color;
                     width: 100%;
                     height: 100%;
                     z-index: -1;
                  }
               }
            }
         }

         @include lg {
            button {
               display: none;
            }

            div {
               display: flex;
               height: 100%;
               list-style-type: none;
               flex-direction: row;
               position: static;

               a {
                  height: 100%;
                  padding-left: 2.2rem;
                  padding-right: 2.2rem;
                  align-items: center;

                  &.current,
                  &:hover {
                     background-color: $main-color;

                     color: $white-color;
                  }
               }

               &.open {
                  &::before {
                     display: none;
                  }
               }
            }
         }
      }
   }
}
